<ng-template transloco let-fn="$implicit">
  <ng-container *ngIf="selectedCity$ | async; let city">
    <ion-content>
      <div class="sfondo">
        <div class="outerBox">
          <div class="loginBox">
            <div class="headBox">
              <img class="logo" [src]="city.immagine_small.url" *ngIf="city.immagine_small" />
            </div>
            <div class="bodyBox">
              <ion-card>
                <ion-card-header>
                  <ion-toolbar color="brand">
                    <ion-title>
                      {{city.name}}
                    </ion-title>
                  </ion-toolbar>

                  <ion-item lines="none">
                    <ion-label>
                      {{ tr.c(fn,'REGISTER.PAGETITLE') | uppercase }}
                    </ion-label>
                    <ng-container *ngIf="tr.selectedLang$ | async; let selectedLang">
                      <ion-buttons slot="end">
                        <ion-button color="primary" (click)="presentLangPopover($event)">
                          {{ selectedLang.label }}
                        </ion-button>
                      </ion-buttons>
                    </ng-container>
                  </ion-item>
                </ion-card-header>
                <ion-card-content>
                  <form #form="ngForm">
                    <ion-list class="inputBox" (keyup.enter)="register()">
                      <ion-item>
                        <ion-input autofocus="false" [(ngModel)]="username" name="username" type="text" inputmode="text"
                          required [label]="tr.c(fn,'REGISTER.USERNAME')" labelPlacement="floating"
                          autocomplete="username">
                        </ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input [(ngModel)]="password" name="password" type="password" inputmode="text" required
                          [label]="tr.c(fn,'REGISTER.PASSWORD')" labelPlacement="floating"
                          autocomplete="new-password"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input [(ngModel)]="password2" name="password2" type="password" inputmode="text" required
                          [label]="tr.c(fn,'REGISTER.PASSWORD2')" labelPlacement="floating"
                          autocomplete="new-password"></ion-input>
                      </ion-item>
                      <ion-item>
                        <ion-input autofocus="false" [(ngModel)]="email" name="email" type="email" inputmode="email"
                          required [label]="tr.c(fn,'REGISTER.EMAIL')" labelPlacement="floating"
                          autocomplete="email">
                        </ion-input>
                      </ion-item>
                      <br>
                      <ion-button expand="block" (click)="register()"
                        [disabled]="!username || !password || password != password2 || !email " color="primary">
                        <ion-icon slot="start" name="log-in"></ion-icon>
                        {{ tr.c(fn,'REGISTER.REGISTER') }}
                      </ion-button>
                    </ion-list>
                  </form>
                </ion-card-content>
              </ion-card>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-container>
</ng-template>